body
{
    font-family: 'Neucha', cursive;
    font-size: 16px;
}

.node {
  stroke-width: 1.5px;
}

.profile
{
	margin-top: 20px;
    text-align: justify;

}

.navbar
{
	background-color: #000;
	color: #fff;
}


.faded
{
	opacity: 0.1;
}

.helptext
{
	color: #f03b20;
}

#legend
{
	margin-bottom: -50px
}

.footer {
    background: #000;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.connect
{
	color: #fff;
	font-size: 14px;
}

.username
{
    text-align: justify;
   
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  background-color: white;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}

.alert-orange {
  color:white;
  background-color: #E9573F;
}

.alert-blue {
  color: white;
  background-color: #4A89DC;
}