html { 
    width: 100%; 
    min-height: 100%; 
} 

.player
{
	fill: navy;
}

#rightsidebar
{
	background-color: #FFCE44;
}

.bolds
{
	font-weight: bold;
	margin-bottom: 1px;
}

.navbar
{
	/*background-color: #618E49;*/
    background-color: #bdbdbd;
}

.toolTip_div {
          font-family: 'Roboto Mono', monospace;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        z-index: 100;
        text-align: center;
  }


  .gameweek{ font-size: 20px; 
  
    color: white;
    }

    .weekname {
        font-size: 15px;
    }

body
{
    font-family: 'Roboto Mono', monospace;
    padding:0;
    margin:0
    width: inherit; 
    min-height: inherit; 
}

.points
{
    font-weight: bold;
    font-size: 20px;
}

.pointsbig
{
    font-weight: bold;
    font-size: 23px;
}

.active
{
    fill: orange;
}

.inactive
{
    fill: grey;
}

.teamtype
{
    fill: #e34a33;
    font-size: 20px;
    font-weight: bold;

}

.announce
{
    color: #e34a33;
    fill: #e34a33;
    font-weight: bold;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}