.club
{
	font-size: 5px;
	text-align: center;
	margin-top: 5px;
}

.header
{
	font-size: 4.5px;
	text-align: center;
	margin-top: 5px;
	fill: #fff;
	
}

.deepstroke
{
	stroke: #F44336;
	stroke-width: 0.5;
    
}

.gw1, .gw3, .gw6
{
	fill: #BF360C;
}

.faded
{
	opacity: 0.5;
}

.legend
{
	font-size: 4.5px;
	text-align: center;
	margin-top: 5px;
	
	
}

.help
{
	font-size: 4.5px;
	text-align: center;
	margin-top: 5px;
	fill: red;
	
	
}

.info
{
	margin-top: 20px;
    text-align: justify;
}

#leftsidebar
{
	background-color: #BF360C;
	color: #fff;
}

.bolds
{
	font-weight: bold;
	margin-bottom: 1px;
}

#rightsidebar
{
	background-color: #212121;
	color: #fff;
}

.footer {
    background: #000;
    padding: 15px 0;
}