.navbar
{
	background-color: #BF360C;
}

.club
{
	font-size: 5px;
	text-align: center;
	margin-top: 5px;
}

.header
{
	font-size: 4.5px;
	text-align: center;
	margin-top: 5px;
	fill: #fff;
	
}

.deepstroke
{
	stroke: #F44336;
	stroke-width: 0.5;
    
}

.gw1, .gw3, .gw6
{
	fill: #BF360C;
}

.faded
{
	opacity: 0.5;
}

.legend
{
	font-size: 4.5px;
	text-align: center;
	margin-top: 5px;	
}

.gwheader
{
	font-size: 6px;
	text-align: center;
	margin-top: 5px;
	font-weight: bold;	
	fill: #BF360C;


}


.help
{
	font-size: 4.5px;
	text-align: center;
	margin-top: 5px;
	fill: red;
	
	
}

.info
{
	margin-top: 20px;
    text-align: justify;
}

#leftsidebar
{
	background-color: #BF360C;
	color: #fff;
}

.bolds
{
	font-weight: bold;
	margin-bottom: 1px;
}

#rightsidebar
{
	background-color: #212121;
	color: #fff;
}

.footer {
    background: #212121;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: #BF360C;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.fixtures
{
	font-size: 5px;
	text-align: center;
	margin-top: 5px;
	fill: #000;
}

.clubname
{
	font-size: 5px;
	text-align: center;
	margin-top: 5px;
    fill: #BF360C;
    font-weight: bold;

}