
.footer {
    background: #E34043;
    padding: 10px 0;
}

.footer a {
    color : #FFF;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: #F9AC12;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#jumbo
{
background-color: #E34043;
color: #fff;
}

#jumbo h1
{

color: #fff;

}

body
{
	font-family: Inconsolata;
}

.relegation
{
	fill: #E34043;
}

.championsleague
{
	fill: #006d2c;
}

.average
{
	fill: #08519c;
}

.player
{
 fill: #fff;
}

.header
{
	fill: #fff;
	font-size: 12px;
}

.ptsbar
{
	fill: #F9AC12;
}