.footer {
    background: #212121;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: #BF360C;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.faded
{
  opacity: 0.2;
}

.golie
{
  fill: #2ABB9B;
}

.defender
{
  fill: #FC797A;
}

.midfield
{
  fill: #1F8DD6;
}

.attack
{
  fill: #FFCE44;
}

input {
    border: 2px solid #3CBC8D;;
    border-radius: 4px;
}

.navbar
{
  background-color: #3CBC8D;
}

#rightsidebar
{
  background-color: #3CBC8D;
}

.bolds
{
  font-weight: bold;
  margin-bottom: 1px;
}

html { overflow-y: hidden; }